.btn {
  position: fixed;
  left: 40%;
  top: 50%;
  padding: 20px;
  margin:20px;
  

  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%); 
  color: white;
  border-radius: 10px;

  font-size: 25px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

  cursor: pointer;
}

.btn:hover {
  background: rgba(0,212,255,1);
}

.btn:active {
  box-shadow: 2px 2px 5px rgba(9,9,121,1);
}
